{% load static %}

<!DOCTYPE html>
<html lang="en">
<div class="sidenav">
    <button class="custom_btn">
        <a href="{% url 'home-page' %}">Home</a>
    </button>
    <button class="custom_btn">
        <a href="{% url 'upload-ids' %}">Validate ID(s)</a>
    </button>
    <button class="custom_btn">
        <a href="{%url 'generate-ids' %}">Generate valid ID(s)</a>
    </button>
</div>
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>ID Tools</title>
    {%endif%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">

</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>