{% load static %}

<!DOCTYPE html>
<html lang="en">
<!--
<body>
    <div id="sidebar" class="sidenav">
        <a href="javascript:void(0)"
           class="closebtn"
           onclick="closeNav()">
          ×
      </a>
        <a href="{% url 'home-page' %}">Home</a>
        <a href="{% url 'upload-ids' %}">Validate ID(s)</a>
        <a href="{%url 'generate-ids' %}">Generate valid ID(s)</a>
    </div>

    <div id="main">
        <button class="openbtn"
                onclick="openNav()">
          SIDEBAR
      </button>
    </div>
</body>
-->

<div id="main", class="sidenav">
    <button class="custom_btn">
        <a href="{% url 'home-page' %}">Home</a>
    </button>
    <button class="custom_btn">
        <a href="{% url 'upload-ids' %}">Validate ID(s)</a>
    </button>
    <button class="custom_btn">
        <a href="{%url 'generate-ids' %}">Generate valid ID(s)</a>
    </button>
</div>

<!--<button class="custom_btn">
    <a href="{% url 'home-page' %}">Home</a>
</button>
<button class="custom_btn">
    <a href="{% url 'upload-ids' %}">Validate ID(s)</a>
</button>
<button class="custom_btn">
    <a href="{%url 'generate-ids' %}">Generate valid ID(s)</a>
</button>
-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>ID Tools</title>
    {%endif%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">

</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>